@charset "utf-8";
/* CSS Document */

@media all and (max-width: 767px) {	
	
#about {
	
	display: inline;
	width: 60%;
	height: auto;
	margin: 0 20%;
	text-align: center;
	float: left;
	
}

#aboutUs {
	
	font-family: 'Bebas Neue', cursive;
	margin: 15% auto auto;
	
}

p {
	
	font-family: 'Rajdhani', sans-serif;
	margin: 10% auto auto auto;
	
}

}

@media all and (min-width: 768px) {	
	
#about {
	
	display: inline;
	width: 40%;
	height: auto;
	margin: 0 30%;
	text-align: center;
	float: left;
	
}

#aboutUs {
	
	font-family: 'Bebas Neue', cursive;
	margin: 15% auto auto;
	
}

p {
	
	font-family: 'Rajdhani', sans-serif;
	margin: 10% auto auto auto;
	
}

}
