@charset "utf-8";
/* CSS Document */

@media all and (max-width:449px) {
	
#added {
	
	width: 90%;
	margin: 0 5%;
	height: auto;
	display: inline;
	float: left;
	margin-top: 3%;
	
}

.cartCheck {
	
	font-family: 'Rajdhani', sans-serif;
	
}

#added h1 {
	
	font-family: 'Bebas Neue', cursive;
	font-size: 80%;
	
}
#cartItems {
	
	width: 90%;
	margin: 0 5%;
	display: inline-block;
	padding: 12px 0;
	border-bottom: thin #8C8B8B solid;
		
}

#cartItems img {
	
	width: 10%;
	height: auto;
	float: left
	
}


#itemInfo {
	
	font-family: 'Rajdhani', sans-serif;
	float: left;
	font-size: 75%;
	margin-left: 2%;
	
}

#itemPrice {
	
	font-family: 'Rajdhani', sans-serif;
	float: right;
	text-align: right;
	
}


#remove {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: red;
	color: white;
	width: 80px;
    padding: 10px auto auto;
  	margin: 3% 0 0;
    font-size: 0.875em;
    border: solid 1px #570102;
	height: 30px;
	
}


#subtotal {
	
	width: 90%;
	margin: 0 5%;
	display: inline-block;
	
}

#subtotal h2 {
	
	width: 50%;
	font-family: 'Bebas Neue', cursive;
	display: inline;
	float: left;
	
}

#totalPrice {
	
	width: 50%;
	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: right;
	text-align: right;
	
}
	
#noItemsInCart {

	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: left;
	width: 60%;
	margin: 0 20%;
	
}	

#cartButtons {
	
	width: 90%;
	margin: 0 5% 5%;
	float: left;
	padding-top: 2%;
	
}

#cartButtons button {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: black;
	color: white;
	width: 40%;
    padding: 10px auto auto;
    font-size: 0.875em;
    border: solid 1px #000000;
	height: 30px;
	margin: 2% 1% 0 0;
	display: inline;
	float: right;
	
	
}
	
}

@media all and (min-width:450px) and (max-width: 599px) {
	
#added {
	
	width: 60%;
	margin: 0 20%;
	height: auto;
	display: inline;
	float: left;
	margin-top: 3%;
	
}

.cartCheck {
	
	font-family: 'Rajdhani', sans-serif;
	
}

#added h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}
#cartItems {
	
	width: 60%;
	margin: 0 20%;
	display: inline-block;
	padding: 12px 0;
	border-bottom: thin #8C8B8B solid;
		
}

#cartItems img {
	
	width: 10%;
	height: auto;
	float: left
	
}


#itemInfo {
	
	font-family: 'Rajdhani', sans-serif;
	float: left;
	padding: 2px 0 0 10px;
	
}

#itemPrice {
	
	font-family: 'Rajdhani', sans-serif;
	float: right;
	
}

div#delete {
	
	padding: 50px 10px 0 0;
	
}

#remove {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: red;
	color: white;
	width: 80px;
    padding: 10px auto auto;
  	margin: 15% 0 0;
    font-size: 0.875em;
    border: solid 1px #570102;
	height: 30px;
	
}


#subtotal {
	
	width: 60%;
	margin: 0 20%;
	display: inline-block;
	
}

#subtotal h2 {
	
	width: 50%;
	font-family: 'Bebas Neue', cursive;
	display: inline;
	float: left;
	
}

#totalPrice {
	
	width: 50%;
	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: right;
	text-align: right;
	
}

	
#noItemsInCart {

	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: left;
	width: 60%;
	margin: 0 20%;
	
}	
	
#cartButtons {
	
	width: 60%;
	margin: 0 20% 5%;
	float: left;
	padding-top: 2%;
	
}

#cartButtons button {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: black;
	color: white;
	width: 40%;
    padding: 10px auto auto;
    font-size: 0.875em;
    border: solid 1px #000000;
	height: 30px;
	margin: 2% 1% 0 0;
	display: inline;
	float: right;
	
	
}

}

@media all and (min-width: 600px) and (max-width: 899px) {

#added {
	
	width: 60%;
	margin: 0 20%;
	height: auto;
	display: inline;
	float: left;
	margin-top: 3%;
	
}

.cartCheck {
	
	font-family: 'Rajdhani', sans-serif;
	
}

#added h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}
#cartItems {
	
	width: 60%;
	margin: 0 20%;
	display: inline-block;
	padding: 12px 0;
	border-bottom: thin #8C8B8B solid;
		
}

#cartItems img {
	
	width: 10%;
	height: auto;
	float: left
	
}


#itemInfo {
	
	font-family: 'Rajdhani', sans-serif;
	float: left;
	padding: 2px 0 0 10px;
	
}

#itemPrice {
	
	font-family: 'Rajdhani', sans-serif;
	float: right;
	
}

div#delete {
	
	padding: 50px 10px 0 0;
	
}

#remove {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: red;
	color: white;
	width: 80px;
    padding: 10px auto auto;
  	margin: 15% 0 0;
    font-size: 0.875em;
    border: solid 1px #570102;
	height: 30px;
	
}


#subtotal {
	
	width: 60%;
	margin: 0 20%;
	display: inline-block;
	
}

#subtotal h2 {
	
	width: 50%;
	font-family: 'Bebas Neue', cursive;
	display: inline;
	float: left;
	
}

#totalPrice {
	
	width: 50%;
	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: right;
	text-align: right;
	
}
	
#noItemsInCart {

	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: left;
	width: 60%;
	margin: 0 20%;
	
}		

#cartButtons {
	
	width: 60%;
	margin: 0 20% 5%;
	float: left;
	padding-top: 2%;
	
}

#cartButtons button {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: black;
	color: white;
	width: 30%;
    padding: 10px auto auto;
    font-size: 0.875em;
    border: solid 1px #000000;
	height: 30px;
	margin: 2% 2% 0 0;
	display: inline;
	float: right;
	
	
}

}

@media all and (min-width: 900px) {
	
#added {
	
	width: 60%;
	margin: 0 20%;
	height: auto;
	display: inline;
	float: left;
	margin-top: 3%;
	
}

.cartCheck {
	
	font-family: 'Rajdhani', sans-serif;
	
}

#added h1 {
	
	font-family: 'Bebas Neue', cursive;
	
}
#cartItems {
	
	width: 60%;
	margin: 0 20%;
	display: inline-block;
	padding: 12px 0;
	border-bottom: thin #8C8B8B solid;
		
}

#cartItems img {
	
	width: 10%;
	height: auto;
	float: left
	
}


#itemInfo {
	
	font-family: 'Rajdhani', sans-serif;
	float: left;
	padding: 2px 0 0 10px;
	
}

#itemPrice {
	
	font-family: 'Rajdhani', sans-serif;
	float: right;
	
}

div#delete {
	
	padding: 50px 10px 0 0;
	
}

#remove {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: red;
	color: white;
	width: 80px;
    padding: 10px auto auto;
  	margin: 15% 0 0;
    font-size: 0.875em;
    border: solid 1px #570102;
	height: 30px;
	
}


#subtotal {
	
	width: 60%;
	margin: 0 20%;
	display: inline-block;
	
}

#subtotal h2 {
	
	width: 50%;
	font-family: 'Bebas Neue', cursive;
	display: inline;
	float: left;
	
}

#totalPrice {
	
	width: 50%;
	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: right;
	text-align: right;
	
}
	
#noItemsInCart {

	font-family: 'Rajdhani', sans-serif;
	display: inline;
	float: left;
	width: 60%;
	margin: 0 20%;
	
}		

#cartButtons {
	
	width: 60%;
	margin: 0 20% 5%;
	float: left;
	padding-top: 2%;
	
}

#cartButtons button {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: black;
	color: white;
	width: 20%;
    padding: 10px auto auto;
    font-size: 0.875em;
    border: solid 1px #000000;
	height: 30px;
	margin: 2% 2% 0 0;
	display: inline;
	float: right;
	
	
}

}
