@charset "utf-8";
/* CSS Document */

@media all and (max-width: 399px) {
	
#topnav {
	
	width: 100%;
	height: auto;
	
}

#MenuB {
	
	width: 20%;
	height: auto;
	float: left;
	
}

#MenuB img {
	
	padding: 10px 0 0 10px;
	float: left;
	width: 20%;
	height: auto;
	
}

#logo {
	
	width: 60%;
	height: auto;
	float: left;
	text-align: center;
	clear: none;
	display: inline;
	
}

#logo img {
	
	width: 50%;
	height: auto;
	
}



#CartB {
	
	width: 20%;
	height: auto;
	float: left;
	display: inline;
	
	
}

#CartB img {
	
	padding: 10px 10px 0 0; 
	float: right;
	width: 20%;
	height: auto;
	
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sidenav a {
	
	font-family: 'Bebas Neue', cursive;
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 30px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
}

#sidenav a:hover {
  color: #f1f1f1;
}

#menuClosebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

#cart {
	
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align: center;
	
}

#cart p {
	
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	
}

#cart h1 {
	
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	
}

#cart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#cart a:hover {
  color: #f1f1f1;
}

#cart img {
	
	width: 20%;
	display: inline;
	float: left;
	margin-bottom: 2%;
	
}

#cartClosebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
	
#miniCartItems {

	display: inline;
	float: left;
	width: 80%;
	margin: 2% 10% 0;
	border-bottom: thin #8C8B8B solid;
		
}	
	
#miniItemInfo {

	display: inline;
	float: left;
	width: 60%;
	font-family: 'Rajdhani', sans-serif;
		
}
	
#miniItemPrice {

	display: inline;
	float: left;
	width: 15%;
	margin-left: 5%;
	font-family: 'Bebas Neue', cursive;
		
}	


#checkoutB {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: #000000;
	color: white;
	width: auto;
    padding: 10px auto auto;
    font-size: 0.4em;
    border: solid 1px #000000;
	height: 30px;
	margin-top: 3%;
	
}

#viewProduct {
	
	width:80%;
	padding:2px auto auto;
	font-family: 'Bebas Neue', cursive;
	font-size:0.875em;
	color:#000000;
	outline:none;
	cursor:pointer;
	border:solid 1px #000000;
	height:40px;
	
}

#Products {
	
	text-align: center;
	min-width: 100%;
	margin: 5% 0 0 10%;
	height: auto;
	display: block;
			
}

.shoes {
	
	display: block;
	width: 60%;
	height: auto;
	margin-top: 4%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	float: left;
	overflow: hidden;

	
}

.shoes img {
	
	width: 100%;
	height: auto;

}

.shoes p {

	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	height: 3%;
	
}

}

@media all and (min-width: 400px) and (max-width: 599px) {
	
#topnav {
	
	width: 100%;
	height: auto;
	
}

#MenuB {
	
	width: 20%;
	height: auto;
	float: left;
	
}

#MenuB img {
	
	padding: 15px 0 0 15px;
	float: left;
	width: 12%;
	height: auto;
	
}

#logo {
	
	width: 60%;
	height: auto;
	float: left;
	text-align: center;
	clear: none;
	display: inline;
	
}

#logo img {
	
	width: 40%;
	height: auto;
	
}



#CartB {
	
	width: 20%;
	height: auto;
	float: left;
	display: inline;
	
	
}

#CartB img {
	
	padding: 15px 15px 0 0; 
	float: right;
	width: 15%;
	height: auto;
	
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sidenav a {
	
	font-family: 'Bebas Neue', cursive;
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 30px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
	
}

#sidenav a:hover {
  color: #f1f1f1;
}

#menuClosebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

#cart {
	
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align: center;
	
}

#cart p {
	
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	
}

#cart h1 {
	
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	
}

#cart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#cart a:hover {
  color: #f1f1f1;
}

#cart img {
	
	width: 20%;
	display: inline;
	float: left;
	margin-bottom: 2%;
	
}

#cartClosebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
	
#miniCartItems {

	display: inline;
	float: left;
	width: 80%;
	margin: 2% 10% 0;
	border-bottom: thin #8C8B8B solid;
		
}	
	
#miniItemInfo {

	display: inline;
	float: left;
	width: 60%;
	font-family: 'Rajdhani', sans-serif;
		
}
	
#miniItemPrice {

	display: inline;
	float: left;
	width: 15%;
	margin-left: 5%;
	font-family: 'Bebas Neue', cursive;
		
}	


#checkoutB {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: #000000;
	color: white;
	width: auto;
    padding: 10px auto auto;
    font-size: 0.75em;
    border: solid 1px #000000;
	height: 30px;
	margin-top: 3%;
	
}

#viewProduct {
	
	width:80%;
	padding:2px auto auto;
	font-family: 'Bebas Neue', cursive;
	font-size:0.875em;
	color:#000000;
	outline:none;
	cursor:pointer;
	border:solid 1px #000000;
	height:40px;
	
}

#Products {
	
	text-align: center;
	min-width: 100%;
	margin: 5% 0 0 10%;
	height: auto;
	display: block;
			
}

.shoes {
	
	display: block;
	width: 40%;
	height: auto;
	margin: 4%;
	text-align: center;
	float: left;
	overflow: hidden;

	
}

.shoes img {
	
	width: 100%;
	height: 130px;

}

.shoes p {

	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	height: 3%;
	
}


}

@media all and (min-width: 600px) and (max-width: 767px) {
	
#topnav {
	
	width: 100%;
	height: auto;
	
}

#MenuB {
	
	width: 20%;
	height: auto;
	float: left;
	
}

#MenuB img {
	
	padding: 15px 0 0 15px;
	float: left;
	width: 12%;
	height: auto;
	
}

#logo {
	
	width: 60%;
	height: auto;
	float: left;
	text-align: center;
	clear: none;
	display: inline;
	
}

#logo img {
	
	width: 40%;
	height: auto;
	
}



#CartB {
	
	width: 20%;
	height: auto;
	float: left;
	display: inline;
	
	
}

#CartB img {
	
	padding: 15px 15px 0 0; 
	float: right;
	width: 15%;
	height: auto;
	
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sidenav a {
	
	font-family: 'Bebas Neue', cursive;
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 30px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;

}

#sidenav a:hover {
  color: #f1f1f1;
}

#menuClosebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

#cart {
	
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align: center;
	
}

#cart p {
	
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	
}

#cart h1 {
	
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	
}

#cart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#cart a:hover {
  color: #f1f1f1;
}

#cart img {
	
	width: 20%;
	display: inline;
	float: left;
	margin-bottom: 2%;
	
}

#cartClosebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
	
#miniCartItems {

	display: inline;
	float: left;
	width: 80%;
	margin: 2% 10% 0;
	border-bottom: thin #8C8B8B solid;
		
}	
	
#miniItemInfo {

	display: inline;
	float: left;
	width: 60%;
	font-family: 'Rajdhani', sans-serif;
		
}
	
#miniItemPrice {

	display: inline;
	float: left;
	width: 15%;
	margin-left: 5%;
	font-family: 'Bebas Neue', cursive;
		
}	


#checkoutB {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: #000000;
	color: white;
	width: auto;
    padding: 10px auto auto;
    font-size: 0.6em;
    border: solid 1px #000000;
	height: 30px;
	margin-top: 3%;
	
}

#viewProduct {
	
	width:80%;
	padding:2px auto auto;
	font-family: 'Bebas Neue', cursive;
	font-size:0.875em;
	color:#000000;
	outline:none;
	cursor:pointer;
	border:solid 1px #000000;
	height:40px;
	
}

#Products {
	
	text-align: center;
	min-width: 100%;
	margin: 5% 0 0 10%;
	height: auto;
	display: block;
			
}

.shoes {
	
	display: block;
	width: 40%;
	height: auto;
	margin: 4%;
	text-align: center;
	float: left;
	overflow: hidden;

	
}

.shoes img {
	
	width: 100%;
	height: 175px;

}

.shoes p {

	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	height: 3%;
	
}


}

@media all and (min-width: 768px) {
	
#topnav {
	
	width: 100%;
	height: auto;
	
}

#MenuB {
	
	width: 20%;
	height: auto;
	float: left;
	
}

#MenuB img {
	
	padding: 15px 0 0 15px;
	float: left;
	width: 10%;
	height: auto;
	
}

#logo {
	
	width: 60%;
	height: auto;
	float: left;
	text-align: center;
	clear: none;
	display: inline;
	
}

#logo img {
	
	width: 30%;
	height: auto;
	
}



#CartB {
	
	width: 20%;
	height: auto;
	float: left;
	display: inline;
	
	
}

#CartB img {
	
	padding: 15px 15px 0 0; 
	float: right;
	width: 12%;
	height: auto;
	
}

#sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sidenav a {
	
	font-family: 'Bebas Neue', cursive;
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 30px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
	
}

#sidenav a:hover {
  color: #f1f1f1;
}

#menuClosebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  margin-left: 50px;
}

#cart {
	
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  text-align: center;
	
}

#cart p {
	
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	
}

#cart h1 {
	
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	
}

#cart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#cart a:hover {
  color: #f1f1f1;
}

#cart img {
	
	width: 20%;
	display: inline;
	float: left;
	margin-bottom: 2%;
	
}

#cartClosebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
	
#miniCartItems {

	display: inline;
	float: left;
	width: 80%;
	margin: 2% 10% 0;
	border-bottom: thin #8C8B8B solid;
		
}	
	
#miniItemInfo {

	display: inline;
	float: left;
	width: 60%;
	font-family: 'Rajdhani', sans-serif;
		
}
	
#miniItemPrice {

	display: inline;
	float: left;
	width: 15%;
	margin-left: 5%;
	font-family: 'Bebas Neue', cursive;
		
}	

#checkoutB {
	
	font-family: 'Bebas Neue', cursive;
	cursor: pointer;
    background-color: #000000;
	color: white;
	width: auto;
    padding: 10px auto auto;
    font-size: 0.75em;
    border: solid 1px #000000;
	height: 30px;
	margin-top: 3%;
	
}

#viewProduct {
	
	width:80%;
	padding:2px auto auto;
	font-family: 'Bebas Neue', cursive;
	font-size:0.875em;
	color:#000000;
	outline:none;
	cursor:pointer;
	border:solid 1px #000000;
	height:40px;
	
}

#Products {
	
	text-align: center;
	min-width: 90%;
	margin: 5% 0 0 5%;
	height: auto;
	display: block;
			
}

.shoes {
	
	display: inline;
	width: 25%;
	height: auto;
	margin: 4%;
	text-align: center;
	float: left;
	
}

.shoes img {
	
	width: 100%;
	height: auto;

}

.shoes p {

	font-family: 'Rajdhani', sans-serif;
	text-align: center;
	height: 3%;
	
}	

}